@model IEnumerable<Tweeter.Models.Tweet>
@if (this.User.Identity.IsAuthenticated)
{
    <div class="row">
        @using (Html.BeginForm("Create", "Tweets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-10">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextArea("text", null, new { rows = "1", placeholder = "What's happening ?", @class = "form-control" })
                                @Html.ValidationMessage("text", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-sm btn-info" type="submit">Tweet</button>
                    </div>
                </div>
            </div>
        }
    </div>

    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div>
                <div>
                    <b class="media-heading">@item.Author.UserName</b>
                    <i style="font-size: 8px;" class="glyphicon glyphicon-star"></i>
                    <span>@item.CreatedOn</span>
                </div>
                <div>
                    @item.Text
                </div>
                <hr />
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <h2>Nothing to show!</h2>
        </div>
    }

}
else
{
    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div>
                <div>
                    <b class="media-heading">@item.Author.UserName</b>
                    <i style="font-size: 8px;" class="glyphicon glyphicon-star"></i>
                    <span>@item.CreatedOn</span>
                </div>
                <div>
                    @item.Text
                </div>
                <hr />
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <h2>Nothing to show!</h2>
        </div>
    }
}