@using Microsoft.AspNet.Identity
@if (ViewBag.UserProfile != null)
{
    <div class="well">
        <div class="row">
            <h3>@User.Identity.GetUserName()</h3>
            <div>
                Tweets: <span class="badge">@ViewBag.UserProfile.Tweets.Count</span>
            </div>
            <div>
                Followingss: <span class="badge">@ViewBag.UserProfile.Followings.Count</span>
            </div>
            <div>
                Followers: <span class="badge">@ViewBag.UserProfile.Followers.Count</span>
            </div>
            <div>
                Favorited: <span class="badge">@ViewBag.UserProfile.FavoritedTweets.Count</span>
            </div>
        </div>
    </div>
}