@model Tweeter.Web.ViewModels.Tweet.TweetViewModel

<div>
    <div>
        <b class="media-heading">
            @Html.ActionLink(Model.Author.UserName, "ShowProfile", "Users", new { id = Model.AuthorId }, new { })
        </b>
        <i style="font-size: 8px;" class="glyphicon glyphicon-star"></i>
        <span>@Model.CreatedOn</span>
    </div>
    <div>
        @Model.Text
    </div>
    <div>
        <div style="margin-top: 15px;" class="row">
            <div class="col-md-2">
                <i id="" class="glyphicon glyphicon-refresh"></i>
                @Model.UsersFavorites.Count
            </div>
            <div class="col-md-2">
                <i class="glyphicon glyphicon-star"></i>
                @Model.UsersFavorites.Count
            </div>
            <div class="col-md-2">
                <i class="glyphicon glyphicon-warning-sign"></i>
                @Model.Reports.Count
            </div>
            <div class="col-md-2">

            </div>    
        </div>
        <hr style="margin-top: 5px;"/>
          
    </div>
</div>