@using Tweeter.Web.Extensions
@model Tweeter.Web.ViewModels.Tweet.TweetViewModel

<div>
    <div>
        <b class="media-heading">
            @Html.ActionLink(Model.Author.UserName, "ShowProfile", "Users", new { id = Model.AuthorId }, new { })
        </b>
        <i style="font-size: 8px;" class="glyphicon glyphicon-star"></i>
        <span>@Model.CreatedOn</span>
    </div>
    <div>
        @Model.Text
    </div>
    <div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-2">
                    <i class="glyphicon glyphicon-refresh"></i>
                    @Model.UsersReTweets.Count()
                </div>
                <div class="col-md-2">

                    @Ajax.RawAjaxActionLink(String.Format("<i class='glyphicon glyphicon-star'></i>"), 
                        "FavoriteTweet", 
                        "Tweets", 
                        new { id = Model.Id },
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "tweet-favorites-" + Model.Id,
                            InsertionMode = InsertionMode.Replace
                        }, null)

                    <span id="tweet-favorites-@Model.Id">@Model.UsersFavorites.Count()</span>
                </div>
                <div class="col-md-2">

                    @Ajax.RawAjaxActionLink(String.Format("<i class='glyphicon glyphicon-warning-sign'></i>"), 
                        "ReportTweet", 
                        "Tweets", 
                        new { id = Model.Id },
                        new AjaxOptions() 
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "tweet-reports-" + Model.Id,
                            InsertionMode = InsertionMode.Replace
                        }, null)

                    <span id="tweet-reports-@Model.Id">@Model.Reports.Count()</span>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        }

        <hr style="margin-top: 5px;" />
    </div>
</div>